<section class="footer">
    <div class="footer_flex">
        <div class="img_width">
            <img src="./assets/avatar_1.png">
        </div>
        <div class="img_width">
            <img src="./assets/avatar_2.png">
        </div>
        <div class="img_width">
            <img class="avatar_3" src="./assets/avatar_3.png">
        </div>
        <div class="img_width">
            <img src="./assets/avatar_4.png">
        </div>
        <div class="img_width ">
            <img src="./assets/avatar_5.png">
        </div>
   
     
    </div>

</section>